@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: 表示されないので一旦非表示 */
/* html {
  visibility: hidden;
}
html.wf-active {
  visibility: visible;
} */
/* :root {
} */
/* dark-mode
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: #b42828;
  background-color: #d5e6eb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animation-rotate {
  animation: rotate 32000ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.max-h-700 {
  max-height: 700px;
}
