@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */
/* dark-mode
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: #b42828;
  background-color: #aad0dc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animation-rotate {
  animation: rotate 32000ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
