@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  visibility: hidden;
  scroll-behavior: smooth;
}
html.wf-active {
  visibility: visible;
}
/* :root {
} */
/* dark-mode
@media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  color: #b42828;
  background-color: #d5e6eb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animation-rotate {
  animation: rotate 32000ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.max-h-700 {
  max-height: 700px;
}

.w-zukan {
  width: 238px;
  @media (min-width: 1024px) {
    width: 530px;
  }
}

.button-shadow {
  box-shadow: 2px 2px #b42828;
}

.rotate-20 {
  transform: rotate(20deg);
}

.flex-fix {
  flex: 1 0 auto;
}
